Source: photo-booth
Section: graphics
Priority: optional
Maintainer: Adam Roses Wight <adamw@ludd.net>
Build-Depends: debhelper (>= 9),
 cmake,
 gettext,
 libcairo2-dev,
 libopencv-dev
Standards-Version: 3.9.6.0
Homepage: https://github.com/adamwight/photo-booth
Vcs-Git: https://github.com/adamwight/photo-booth-debian.git
Vcs-Browser: https://github.com/adamwight/photo-booth-debian

Package: photo-booth
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 sox
Description: Self-serve photo booth software
 Photo booth triggered by motion detection, meant for amateur use in e.g. a
 party setting.  This application can be configured by an administrator,
 but doesn't require keyboard or mouse interaction during use.
 .
 Flail your arms until the motion detector is activated, then beam your party
 into the future!
